body{
    background-color:bisque;
    font-family:cursive;
    color:brown;
}
h1{
    text-align:center;
    color:darkblue;
}
h2{
    text-align:center;
    color:darkgreen;
}
h3{
    color:white;
}